<% content_for :meta_title do %>
  My books and me - <%= @livre.title %>
<% end %>

<%= csrf_meta_tag %>
<div class="container" style="margin-top: 80px;padding-bottom: 120px ">

  <div class="haut d-flex flex-column w-100">
    <div class="text-center" style="font-size: 2rem"><%= @livre.title %></div>
    <div class="text-center" style="font-size: 1.3rem; font-style: italic"><%= @livre.author %></div>

  </div>





  <hr>

  <div class="mt-5 p-2 d-flex justify-content-between flex-column" id="book-card">

  <div class="haut">
      <div class="gauche">
        <%= image_tag @livre.imageurl, alt: "alttext", class: "image" %>
      </div>
      <div class="droite" style="justify-content: space-between;color: white">
        <div class="comment" style="overflow-x: hidden;">
          <div class="allcomment p-3" style="height: 300px;font-size: 1.4rem;font-size: bold">
            <%= @livre.description.html_safe if !@livre.description.nil? %>
          </div>
        </div>
      </div>
  </div>

      <div class=" bas d-flex justify-content-between m-4">
        <div class="gauche d-flex justify-content-between"  style="width: 100px">

            <%= link_to notation_consult_path(@livre, status: 'liste') do  %>
            <i class="fas fa-list-ol" style="font-size: 2rem"></i>
            <% end %>
            <%= link_to review_consult_path(@livre, status: 'liste')  do%>
            <i class="fas fa-comments" style="font-size: 2rem"></i>
            <% end %>

        </div>
        <div class="droite pr-4">
          <%= link_to liste_update_path(@livre, status: 'liste'), method: 'patch' do  %>
          <i class="fas fa-heart" style="font-size: 2rem"></i>
          <% end %>
        </div>
      </div>

    </div>
    <hr>

  </div>

</div>




<!-- <script src="jquery.min.js"></script>
<script src="rangeslider.min.js"></script>
<script>

    $('input[type="range"]').rangeslider();

</script>
-->



