<style>
  .ligne {

    display: flex;
    height: 250px;
  }
  .livre {
    width: 100px;
    margin: 5px;

  }

  .visuel {
    height: 15px;
    width: 100%;
margin-bottom: 4px;
  }

  .month {

    padding-top: 10px;
    font-size: 1rem;
  }
  .contain-livre {
    display: flex;
    flex-wrap: wrap;

  }


</style>

<% content_for :meta_title do %>
  My books and me - Mon historique
<% end %>

<div class="container" style="padding: 30px 50px;margin-top: 60px">

    <% @tab.each do |annee| %>

    <div style="font-size: 2rem">
      <%= annee[:date] %>
    </div>


      <% annee[:livre].each do |livre| %>
        <% if !livre[:book].empty? %>
        <div class="livre month" style="color: <%= livre[:color] %>">
          <%= livre[:month] %>
        </div>
        <div class="contain-livre">
        <% livre[:book].each do |l| %>

          <div class="livre">

            <div>
              <%= link_to liste_show_path(l.livre, status: 'follow') do  %>
                <%= image_tag l.livre.imageurl, alt: "alttext", style: 'height: 150px; border: 1px solid grey' %>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>

      <% end %>
<%end %>

    <% end %>

</div>
