<% content_for :meta_title do %>
  <title>My books and me - Ma communauté</title>
<% end %>


<style>
  .delete-user {
    padding-right: 5px;
    padding-top: 5px;
    height: 100%;
  }

  .btn-ghost {
    padding: 0;
  }
</style>


<div style="margin: 80px 0">
  <h1>Votre communauté</h1>
  <hr>

  <div id="follower-cards">

    <% @f.each do |user| %>

    <div id="bookcard" class="d-flex list-inline justify-content-between" style="width: 280px; margin: 8px">


      <% if user[0] == 'none' %>
      <%= image_tag "Couverture_Livre_Neutre.jpg", alt: "alttext" %>
      <% else %>
      <%= link_to liste_show_path(user[0], status: 'follow') do  %>
      <%= image_tag user[0].imageurl, alt: "alttext" %>
      <% end %>
      <% end %>

      <div class="d-flex flex-column align-items-center">
        <h2><%= user[1].first_name %></h2>
                <div class="d-flex list-inline justify-content-around">
          <div class="add-user btn-user">
            <%= link_to profil_show_path(user[1]), class: 'btn btn-sm btn-ghost' do %>
            <span><i class="fas fa-user" style="font-size: 12px;margin-top:3px" ></i>  Voir profil</span>
            <% end %>
          </div>


        </div>
      </div>
      <div class="delete-user btn-user">
        <%= link_to destroy_follower_path(user[1]), method: 'delete' do %>
        <i class="fas fa-times-circle" style="font-size: 24px"></i>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>



