
<<<<<<< HEAD
<div style="margin-bottom: 80px;margin: 56px 0">
=======
<div style="margin-bottom: 80px;margin-top: 58px">
>>>>>>> dc43d19f7690865ead57f6bc7b59e6f7b0164368
  <div class="titre">Lecture(s) en cours</div>
  <div class="ligne">

    <%= render 'shared/carousel', ec: @ec, status: 'ec', ajout: true %>
  </div>
  <div class="titre">Wish list</div>
  <div class="ligne">

    <%= render 'shared/carousel', ec: @wl, status: 'wl', ajout: true  %>
  </div>
  <div class="titre">Dernières lectures</div>
  <div class="ligne">

    <%= render 'shared/carousel', ec: @done, status: 'done', ajout: false  %>
  </div>

  <% @el.each do |liste| %>
  <div class="titre"><%= liste.name %></div>
  <div class="ligne">

    <%= render 'shared/carousel', ec: liste.endings, status: 'liste', ajout: false %>
  </div>
  <% end %>


</div>

















