<%= csrf_meta_tag %>
<div class="container" style="margin-top: 80px;padding-bottom: 120px ">

  <div class="haut" style="display: flex;justify-content: space-between;">
    <h3><%= @reading.livre.title %></h3>
    <div style="width: 70px;display: flex;justify-content: space-between;font-size: 1.5rem"></div>
    <div style="display: flex; justify-content: space-around; align-content: center; width: 150px; font-size: 1.5rem">
      <p style="font-style: italic; font-size: 10px; padding-top: 12px">Supprimer de ma liste</p>
      <%= link_to book_destroy_path(@reading) do  %>
      <i class="far fa-calendar-times"></i>
      <% end %>
    </div>
  </div>

  <hr>

  <div class="middle" style="display: flex;justify-content: space-between;">
    <div style="font-style: italic"><%= @reading.livre.author %></div>
    <div id="tag" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer;">
      <% if @tag == [] %>
        <button class="btn  btn-sm " style="color: white">définir catégorie</button>
      <% else %>
        <%= @tag %>
      <% end %>

    </div>
  </div>

  <hr>

  <div id="book-card" style="display: flex; justify-content: space-between;">
<!--     <div class="haut"> -->
      <div class="gauche">
        <%= image_tag @reading.livre.imageurl, alt: "alttext", class: "image" %>
      </div>
      <div class="droite" style="justify-content: space-between;">
        <div class="comment">
          <%= @reading.livre.description.html_safe %>
        </div>
        <div class="notes-and-comments" style="display: flex; justify-content: space-around; width: 100px; font-size: 1.5rem; position: relative; bottom: 0; left: 0">
          <%= link_to notation_consult_path(@reading) do  %>
          <i class="fas fa-list-ol"></i>
          <% end %>
          <%= link_to review_consult_path(@reading)  do%>
          <i class="fas fa-comments"></i>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
    <% if @status == 'done' %>
    <div>
      <div>
          satisfaction globale
          <%= render 'slider_passif', pos: @notes[-1] %>
      </div>
      <% @criteria.each do |critere| %>
        <div>
          <%= critere[0] %>
          <%= render 'slider_passif', pos: critere[1] %>
        </div>
      <% end %>
    </div>

    <hr>
    <div style="margin-bottom: 120px">
      commentaire :
      <form action="" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <div class="form-group">
          <p>votre commentaire :</p>
          <textarea class="form-control" name="commentaire"></textarea>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitches" name="status">
            <label class="custom-control-label" for="customSwitches">Publier mon commentaire</label>
          </div>
          <hr>
          <p>Vos sentiments</p>
          <div style="font-size: 0.7rem">Plus intimes, vous pouvez inscrire ici les conditions (evenement, actualité, situation sentimentale, etc...) présentes au moment où vous avez lu ce livre</div>
          <textarea class="form-control" name="feeling"></textarea>
          <hr>
          <p>Comment avez-vous découvert ce livre ?</p>


        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Valider</button>
          <%= link_to 'retour', books_path, class: 'btn btn-danger'  %>
        </div>
      </form>
    </div>
    <% end %>

    <div class="bas" style="display: flex;text-align: right;">
      <div>
        <% if @reading.status == 'wl' %>
        <%= link_to 'Je lis ce livre !', book_update_path(@reading), method: 'patch',  class: "btn btn-lg btn-primary mb-5"%>
        <%= link_to 'Je renonce à le lire', book_destroy_path(@reading), method: 'delete',  class: "btn btn-lg btn-danger mb-5"%>

        <% end %>
        <% if @reading.status == 'ec' %>
        <% if @tag == [] %>
        <button class="btn btn-success" style="color: white; font-weight: bold" id="note" data-toggle="modal" data-target="#exampleModal">Noter le livre</button>
        <% else %>
        <%= link_to 'Noter le livre', notations_path(@reading) , class: "btn btn-success", style: "color: white; font-weight: bold"  %>
        <% end %>
        <%= link_to "J'abandonne la lecture de ce livre", book_destroy_path(@reading), method: 'delete',  class: "btn btn-lg btn-danger mb-5"%>

        <% end %>
      </div>
    </div>
  </div>
</div>




<!-- <script src="jquery.min.js"></script>
<script src="rangeslider.min.js"></script>
<script>

    $('input[type="range"]').rangeslider();

</script>
-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Définissez la catégorie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <% @tags.each do |t| %>
          <% if t.name == @tag %>
          <%  act="data-active=true" %>
          <% else %>
          <%  act="data-active=false" %>
          <% end %>
          <div class="badge" data-reading="<%= @reading.id %>" data-cat="<%= t.name  %>" data-id="<%= @reading.livre.id %>" <%= act %> data-color="<%= t.color %>" ><%= t.name %></div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

