
<% content_for :head do %>
  <title>My books and me - profil de <%= @profilowner.first_name.capitalize %></title>
<% end %>


<div style="margin-top: 50px; margin-bottom: 120px">
  <div class="d-flex list-inline justify-content-between align-items-center">
    <h1 style="padding-top: 21px; padding-left: 32px">Les lectures de <%= @profilowner.first_name.capitalize %></h1>
    <%= link_to "Ajouter à ma communauté",  add_follower_path(@profilowner),  method: 'post', class: "btn  btn-primary", style: "margin-right: 32px" %>
  </div>

  <hr>
  <div class="row justify-content-around">
    <div class="col-5 d-flex flex-column">

      <div class="actual-reading">
      <% if @actual.nil? %>
      <div id="bookcard" class="d-flex">
          <%= image_tag "Couverture_Livre_Neutre.jpg", alt: "alttext" %>
          <div class="d-flex flex-column">
            <h2> </h2>
            <h3 style="font-size: 18px">Aucune lecture en cours.</h3>
            <p> </p>
          </div>
        </div>
      <% else %>
        <h5>Lecture en cours</h5>
        <div id="bookcard" class="d-flex">
          <%= link_to liste_show_path(@actual.livre, status:"follow") do %>
          <%= image_tag @actual.livre.imageurl, alt: "alttext" %>
          <% end %>
          <div class="d-flex flex-column">
            <h2><%= @actual.livre.title %></h2>
            <h3><%= @actual.livre.author %></h3>
            <p>indice : <%= @actual.indice %></p>
          </div>
        </div>
      <% end %>
      </div>

      <div class="last-readings">
        <h5>Ses dernières lectures</h5>
        <div class="colonne-last">
          <% @readings.each do |t| %>
          <div id="bookcard" class="d-flex">
            <%= link_to liste_show_path(t.livre, status:"follow")  do%>
            <%= image_tag t.livre.imageurl, alt: "alttext" %>
            <% end %>
            <div class="d-flex flex-column">
              <h2><%= t.livre.title %></h2>
              <h3><%= t.livre.author %></h3>
              <h3 style="color: blue"><%= t.tags[0].name %></h3>
              <p>indice : <%= t.indice %></p>

            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-5 best-readings mb-4">
      <h5>Son Top</h5>
      <div class="colonne-best">
        <% @top.each do |t| %>
        <div id="bookcard" class="d-flex">
          <%= link_to liste_show_path(t.livre, status:"follow") do %>
          <%= image_tag t.livre.imageurl, alt: "alttext" %>
          <% end %>
          <div class="d-flex flex-column">
            <h2><%= t.livre.title %></h2>
            <h3><%= t.livre.author %></h3>
                     <h3 style="color: blue"><%= t.tags[0].name %></h3>
            <p>indice : <%= t.indice %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
