<div id="connexion-container">

  <div id="connexion-formulaire">
    <div class="row">
      <div class="col-10 offset-1">
      <h2>Connexion</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <div class="d-flex list-inline justify-content-between">
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class:"btn-primary" %>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
    <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

