


<div style="margin-top: 100px; margin-bottom: 100px;background: content-box radial-gradient(crimson, skyblue);">
  <h1><div id="ttt">Ceux Que Pensent Les Lecteurs</div></h1>
  <div class="row">
    <div class="col-10 offset-1">


      <% @faker.each do |fake| %>

      <div class="liste flex ">
        <%= link_to 'voir le profil', profil_show_path(fake[:id]), class: "btn btn-ghost"  %>
        <h6>Nom<div class="name"><%= fake[:name] %></div></h6>
        <h6>Date<div class="date"><%= fake[:date] %></div></h6>
        <h6>Commentaire<div class="comment"><%= fake[:commentaire]  %></div></h6>

        <button type="button" class="indice" data-toggle="modal" data-target="#exampleModal"><%= fake[:indice] %></button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Les notes de Christian</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <% @tag.each_with_index do |tag, index| %>
          <div id="<%= index %>">
            <div ><%= tag %></div>
            <%= render 'slider', status: "slide#{index}"  %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
