<style>
  .avat {
    width: 55px;
    height: 55px;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: red;
    border-radius: 50%;
    line-height: 55px;
  }
</style>

<% content_for :meta_title do %>
  My books and me - <%= @livre.title %>
<% end %>

<div class="container" style="margin-top: 100px; margin-bottom: 100px">
  <h1 class="mb-3">Les indices des lecteurs</h1>
  <h3>Titre : <%= @livre.title %></h3>
  <h4>Auteur: <%= @livre.author %></h4>

    <% if @readings.empty? %>
              <div style="background-color: yellow;padding: 16px;text-align: center">
                  Ce livre n'a pas encore reçu de notes
              </div>

    <% else %>

    <% @readings.each do |reading| %>

        <% if reading.user == current_user  %>
          <div class="liste" style="background-color: rgba(0,0,255,0.2)">
        <% else %>
          <div class="liste">
        <% end %>

        <div class="row  align-items-center">
                    <div class="col-2">
                      <%= link_to profil_show_path(reading.user) do  %>
                        <div class="avat" style="background-color: #1d6ab7">
                          <%= "#{reading.user.first_name[0].upcase} #{reading.user.last_name[0].upcase}" %>
                        </div>
                      <% end %>
                    </div>

                    <div class="col-6">
                      <div style="font-size: 1.5rem">
                        <div class="name"><%= reading.user.first_name %></div>
                        <div class="date"><%= reading.startdate.strftime("%d %B  %Y") %></div>
                      </div>
                    </div>

                    <div class="col-2">
                      <div>
                        <% if (!reading.comment.nil? && reading.public) %>
                          <button class="btn btn-sm comment" style="color: white; background-color: #1d6ab7">commentaire</button>
                        <% end %>
                      </div>
                    </div>

                    <div class="col-2">
                      <%= link_to view_note_path(reading) do %>
                        <div  style="width: 55px;height: 55px; border-radius:50%;border: 2px solid #1d6ab7; background-color: white; text-align: center; line-height: 55px; font-weight: bold"><%= reading.indice %></div>
                      <% end %>
                    </div>
                  </div>


        </div>
        <% if (!reading.comment.nil? && reading.public) %>
              <div class="liste" style="display: none;height: auto">
                  <p><small><%= time_ago_in_words(reading.updated_at)  %> ago</small></p>
                  <div><%= reading.comment %></div>
              </div>
        <% end %>



              <% end %>


    <% end %>
  </div>

  <!-- Button trigger modal -->


