
<div style="margin-top: 100px; margin-bottom: 100px">
  <h1><div id="ttt">L'avis des lecteurs</div></h1>
  <h3>Titre</h3>
  <h4>Auteur</h4>
  <div class="row">
    <% @readings.each do |reading| %>
    <% if reading.user == current_user  %>
      <div class="liste flex" style="background-color: rgba(0,0,255,0.2)">
    <% else %>
      <div class="liste flex">
    <% end %>
        <%= link_to 'Voir le profil', profil_show_path(reading.user), class: "btn btn-ghost"  %>
        <div class="name d-flex flex-column"><h6>Nom</h6><%= reading.user.first_name %></div>
        <div class="date d-flex flex-column"><h6>Date</h6><%= reading.startdate %></div>
        <div class="comment d-flex flex-column"><h6>Commentaire</h6><%=   %></div>
        <%= link_to view_note_path(reading) do %>
        <div><%= reading.indice %></div>
      <% end %>

      </div>
      <% end %>
    </div>
  </div>

  <!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Les notes de</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <% Critere.tagged_with(@readings[0].tags[0]).each_with_index do |tag, index| %>
            <div id="<%= index %>">
              <div ><%= tag.name %></div>
              <%= render 'books/slider_passif', pos: 3, status: "slide#{index}"  %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

        </div>
      </div>
    </div>
  </div>
