  <form action="/books/store" method="get" id="form">
    <input type="hidden" name="dataId" value="" id="id">
    <input type="hidden" name="status" value="<%= params[:status] %>">
    <div class="contains">
      <% @fj.each do |book| %>
      <div class="card mb-2">
        <div class="card-body d-flex list-inline p-0" style="height: 100px">
          <% if book['volumeInfo']['imageLinks'].nil? %>
          <div class="card-body-left">
            <%= image_tag( 'Couverture_Livre_Neutre.jpg' , height: '100', width: '70', data: {"id" => book['id']}) %>
          </div>
          <% else %>
          <div class="card-body-left">
            <%= image_tag(book['volumeInfo']['imageLinks']['smallThumbnail'], height: '100', width: '70', data: {"id" => book['id']}) %>
          </div>
          <% end %>
          <div class="card-body-right d-flex flex-column align-content-center pt-3 ">
            <div><%= book['volumeInfo']['title'] %></div>
             <div style="color: grey"><%= book['volumeInfo']['authors'].join(', ') %></div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </form>




