<style>
  .avat {
    width: 55px;
    height: 55px;
    color: white;
    font-size: 25px;
    text-align: center;
    background-color: red;
    border-radius: 50%;
    line-height: 50px;

  }
</style>


<div style="margin-top:100px;margin-bottom: 100px;padding:0 ">
  <div class="carte-contain">
    <div class="card-product">
      <%= image_tag @livreactuel.imageurl, alt: "alttext" %>
      <div class="card-product-infos">
        <h2>Titre : <%= @livreactuel.title %></h2>
        <p>Auteur : <%= @livreactuel.author %> </p>
        <% if @tag.empty? %>
        <p>Genre : <%= @tag[0] %></p>
        <% end %>
      </div>
    </div>
  </div>




  <div class="card-comment">
    <% @liste.each do |item| %>
    <div class="notification">
      <div class="avat" style="background-color: green">
        <%= "#{item.user.first_name[0].upcase} #{item.user.last_name[0].upcase}" %>
      </div>
        <div class="notification-content">
          <p><%= item.user.first_name.capitalize %> </p>
        <p><small><%= time_ago_in_words(item.startdate)  %> ago</small></p>
        <p><%= item.comment.gsub(/[\[\]""]/,'') %> </p>
      </div>
      <div class="notification-actions">
        <a href="#"><%= item.like %><i class="fas fa-thumbs-up"></i></a>
        <a href="#"><%= item.unlike %> <i class="fas fa-thumbs-down"></i></a>
      </div>
    </div>
    <% end %>
  </div>


</div>
